html{
  font-family: "Roboto";
  color: white;
  background-color: rgb(30 30 30);
}

body{
  margin: 0;
}

.backPic{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0.43;
}

.top{
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  opacity: 0.78;
  height: 75px;
}

.loopaIcon{
  width: 50px;
  margin-left: 15px;
}

.topText{
  display: inline-block;
  margin-left: 5px;
}

.headerDiv{
  display: inline-block;
  width: 500px;
}

.header{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  margin-top: 130px;
  margin-bottom: 30px;
  margin-left: 300px;
  font-size: 60px;
}

.header2{
  font-size: 20px;
  margin-left: 300px;
  font-weight: 100;
  width: 300px;
}

.buttonsDiv{
  display: flex;
  justify-content: right;
}

.fileInput{
  display: none;
}

.fileInputLabel{
  border: solid rgb(255, 255, 255);
  border-radius: 3px;
  padding: 10px;
  width: 142px;
  padding: 10px 30px;
  opacity: 0.6;
  
}

.uploadButton{
  margin-right: 60px;
  margin-left: 20px;
  border: solid rgb(255, 255, 255);
  border-radius: 3px;
  background-color: rgba(28,28,28,0);
  color: white; 
  padding: 10px 30px;
  opacity: 0.6;
}

.resultDiv{
  position: relative;
}

.rightDiv{
  position: absolute;
  right: 60px;
  margin-top: 20px;
  opacity: 0.6;
  border: solid rgb(255, 255, 255);
  border-radius: 3px;
  padding: 7px;
  padding-left: 30px;
  padding-right: 0px;
  width: 318px;
}

.resultDiv p{
  margin-top: 4px;
  margin-bottom: 4px;
}